#map { height: 360px; width: 460px; margin-top: 10px;}

.result{
    height: 150px; width: 150px;   margin-top: 10px; margin-left: 80px; 
}

#nombre{
    position: relative;
    left: 80px;
    top: 10px;
    font-weight: bolder;
    font-size: x-large;
    font-style: unset;
    text-decoration: underline;
}