#boton {
    
    margin-left: 48%;
}
.contenedor {
    padding-left: 228px;
    max-width: 900px;
}
.columna {
    width:45%;
    padding-right: 15px;
    float:left;
    text-align: right;
}
  #imagen {
    float: left;
    text-align: center;
    height: 140px;
  }
.columna2 {
    width: 40%;
    float: right ;
    text-align: left;
}
#imagen2 {
    float: right;
    text-align: center;
    height: 140px;
  }
.genero{
    width: 10%;
    float: left;
    text-align: center;
}
